.page {
  height: 100vh;
  background-color: rgb(209, 205, 205);
  padding-top: 53px;
}

.container {
  width: 300px;
  margin: 0 auto;
  background: white;
  padding: 8px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.containerHeader {
  display: flex;
  flex-direction: column;
  justify-items: baseline;
  align-items: baseline;
  width: 100%;
}

.button {
  margin: 10px 0;
  padding: 8px 20px;
  font-size: 14px;
  cursor: pointer;
  width: 80%;
}